<div *ngIf="!currentExpenditure">
  <h3 class="text-success mt-3">开启这个月的开销记录</h3>
  <div class="form-row plan-form">
    <div class="form-group col-3">
      <label>当月剩余天数</label>
      <input type="number" class="form-control month-days" [(ngModel)]="monthDays" readonly>
    </div>
    <div class="form-group col-3">
      <label>计划每日开销</label>
      <input type="number" class="form-control" [(ngModel)]="daySpend" (keyup)="keyup()">
    </div>
    <div class="form-group col-3">
      <label>当月总开销</label>
      <input type="number" class="form-control" [(ngModel)]="totalSpend" readonly>
    </div>
    <div class="form-group col-3">
      <button class="btn btn-primary btn-block btn-plan-start" (click)="addExpenditure()">开始记录</button>
    </div>
  </div>
</div>
<div *ngIf="currentExpenditure">
  <div class="card card-ex text-white" [ngClass]="{ 
      'bg-danger': todayExpenditure.dayLeft < 0, 
      'bg-warning': todayExpenditure.dayLeft > 0 && todayExpenditure.dayLeft < 30, 
      'bg-success': todayExpenditure.dayLeft >= 30
    }">
    <div class="card-header">今日开支概况</div>
    <div class="card-body row">
      <div class="col-8">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">今日剩余</label>
          <div class="col-sm-10">
            <h3>¥{{ todayExpenditure.dayLeft }}</h3>
          </div>
          <ul class="list-group list-group-day-expend">
            <li class="list-group-item d-flex justify-content-between align-items-center text-dark" *ngFor="let item of todayItems">
                <div>{{ item.name }}</div>
                <!-- <p class="note">{{ item.note }}</p> -->
                <span class="badge badge-success badge-pill">¥{{ item.price }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <form [formGroup]="angForm" novalidate>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">支出类别</label>
            <div class="col-sm-8">
              <select class="form-control" formControlName="itemName" #itemName>
                <option value="">开支项目</option>
                <option value="早餐">早餐</option>
                <option value="午餐">午餐</option>
                <option value="晚餐">晚餐</option>
                <option value="彩票">彩票</option>
                <option value="购物">购物</option>
                <option value="理发">理发</option>
                <option value="买菜">买菜</option>
                <option value="买水">买水</option>
                <option value="话费">话费</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">支出数额</label>
            <div class="col-sm-8"><input type="number" class="form-control" formControlName="itemPrice" #itemPrice placeholder="开支数额"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">备注</label>
            <div class="col-sm-8"><input type="text" class="form-control" placeholder="备注" formControlName="note" #note></div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12"><button class="btn btn-primary float-right" (click)="addSpend(itemName.value, itemPrice.value, note.value)">新增开支</button></div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card card-ex">
    <div class="card-header">当月支出概况</div>
    <div class="card-body card-month-detail">
      <ul>
        <li>
          <div>当月预算：{{ currentExpenditure.total }}</div>
        </li>
        <li>
          <div>当月花费：{{ currentExpenditure.currentTotal }}</div>
        </li>
        <li>
          <div>当月剩余：{{ currentMonthLeft }}</div>
        </li>
      </ul>
    </div>
    <div *ngIf="currentExpenditure.dayExpenditure" class="container">
      <div *ngFor="let spend of currentExpenditure.dayExpenditure" class="row month-list-item">
          <div class="col-1 bg-light border-right">
            <h3 class="mt-2 text-center">{{ spend.day }}</h3>
          </div>
          <div class="col-2 border-right">
            <h3 class="mt-2 text-center">¥{{ spend.dayTotal || 0 }}</h3>
          </div>
          <ul class="col-9 list-group list-group-flush list-group-day-item">
              <li class="list-group-item" *ngFor="let item of spend.items">
                  {{ item.name }} ¥{{ item.price }}
              </li>
          </ul>
      </div>
    </div>
  </div>
</div>